body{
  background-color: #222831;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color: darkgrey;
  border-width:7px;
  width: 7%;
}
h1
{
  color:#FFD369;
}
h2
{
  color:#EDE6DB;
}
h3
{
  color:#EDE6DB;
}
td
{
  color:#EEEEEE;
}
li
{
  color:#EEEEEE;
}
th
{
  color:#D8D2CB;
}
a
{
  color:#FFD369;
}

img
{
  height: 300px;
  width: 300px;
}
